:root {
    --c-accent: #c35d5d;
    --c-background: #ececd8;
    --c-font: #1e2d2f;
    --c-shadow: #1e2d2fe0;
    --c-table: #62383841;

    font-family: convergence, Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
}

body {
    background-color: var(--c-background);
    color: var(--c-font);
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* FORM NAVIGATION BAR */
#form-select {
    display: flex;
    justify-content: center;
}

#form-select svg {
    cursor: pointer;
    width: 30px;
    padding: 12px;
    margin: 0 2vw;
}

.current-form {
    color: var(--c-accent);
}



/* MENU SETTINGS */
#menu-button {
    position: absolute;
    right: 0px;
    margin: 0 !important;
}

#menu {
    background-color: var(--c-shadow);
    border-collapse: collapse;
    color: var(--c-background);
    position: absolute;
    right: 0px;
    text-align: center;
    top: 50px;
}

#menu tr:first-child td {
    line-height: 36px;
    text-align: center;
}

#menu input {
    text-align: center;
    width: 30px;
}

#dark-mode {
    background-color: var(--c-accent);
    border: none;
    color: var(--c-background);
    cursor: pointer;
    font-size: 1em;
    padding: 10px 16px;
}


/* STAT BLOCK */
#stat-block-body {
    margin: 0 16px;
}


/* ====== ATTRIBUTES ====== */
#attributes,
.attr-segment {
    display: flex;
    justify-content: space-around;
    font-size: 1.25em;
    width: 100%;
    margin: 10px 0px 5px 0px;
}

@media (max-width:520px) {
    #attributes {
        flex-wrap: wrap;

    }
}

.attr {
    display: inline-block;
    text-align: center;
}

.attr-num {
    display: inline-block;
    font-size: 1rem;
    margin: 0px 0px 0px -5px;
}



/* TAPERS */
.taper svg {
    width: 100%;
    height: 5px;
    fill: var(--c-accent);
}


/* MISC. SETTINGS */
.hide {
    display: none;
}

.title {
    font-size: 1.5em;
}

.title::after {
    content: ' ';
}

.bold {
    font-weight: bold;
}

.bold::after {
    content: ' ';
}

.italic {
    font-style: italic;
}

.dmg {
    font-size: 0.8em;
    font-weight: bold;
}