:root {
    --c-accent: #c35d5d;
    --c-background: #ececd8;
    --c-font: #1e2d2f;
    --c-shadow: #1e2d2fe0;
    --c-table: #62383841;

    font-family: convergence,Arial,sans-serif;
    font-size: 100%;
    font-weight: 400;
}

body {
    background-color: var(--c-background);
    color: var(--c-font);
    margin: 0;
}

p {
    margin: 0;
}


/* FORM NAVIGATION BAR */
#form-select {
    display: flex;
    justify-content: center;
}

#form-select svg {
    cursor: pointer;
    width: 30px;
    padding: 12px;
    margin: 0 2vw;
}

.current-form {
    color: var(--c-accent);
}



/* MENU SETTINGS */
#menu-button {
    position: absolute;
    right: 0px;
    margin: 0 !important;
}

#menu {
    background-color: var(--c-shadow);
    border-collapse: collapse;
    color: var(--c-background);
    position: absolute;
    right: 0px;
    text-align: center;
    top: 50px;
}

#menu tr:first-child td {
    line-height: 36px;
    text-align: center;
}

#menu input {
    text-align: center;
    width: 30px;
}

#dark-mode {
    background-color: var(--c-accent);
    border: none;
    color: var(--c-background);
    cursor: pointer;
    font-size: 1em;
    padding: 10px 16px;
}


/* STAT BLOCK */
#stat-block-body {
    margin: 0 16px;
}


/* MISC. SETTINGS */
.hide {
    display: none;
}